{% extends "flights/layout.html" %}

{% block body %}

<h1>Flight {{flight.id}}</h1>

<ul>
    <li>Origin:{{flight.origin}}</li>
    <li>Destination:{{flight.destination}}</li>
    <li>Duration:{{flight.duration}}</li>
</ul>

<h1>Passangers</h1>
<ul>
    {% for passanger in passangers %}
    <li>{{passanger}}</li>

    {% empty %}
    <li>No passanger</li>

    {% endfor %}
</ul>

<h2>Add Passanger</h2>

<form action=" {% url 'book' flight.id %}" method = "post">
        {% csrf_token %}
    <select name="passanger">
            {% for passanger in non_passangers %}
                <option value="{{passanger.id}}">{{passanger}}</option>
            {% endfor %}
    </select>
    
    <input type="submit">
</form>

<a href="{% url 'index' %}">Back to flight list</a>


{% endblock %}